* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px; /* REM unit */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preload-slider-images {
    width: 0;
    height: 0;
}

#preload-slider-images img {
    width: 0;
    height: 0;
}

main {
    width: 85%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#logo-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #616161;
    padding: 0.5rem;
}

#logo-banner img {
    width: 10rem;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}

#image-slider-container {
    display: flex;
    justify-content: center;
    z-index: 0;
}

#image-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: fit-content;
}

#slider-title {
    position: absolute;
    height: 0;
    text-transform: uppercase;
    text-align: left;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem 0.1rem white, -0.01rem -0.01rem 0.1rem white;
}

#slider-button {
    display: none;
    position: absolute;
    padding: 0.5rem 1rem;
    background-color: red;
    border: 1px solid black;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#image-slider img {
    width: 100%;
}

#dot-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
}

.slider-dot {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    background-color: white;
    border: 1px solid black;
    margin: 0 1rem;
}

#countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    width: 100%;
    height: 3rem;
}

#countdown-output {
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

#tri-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0.5rem;
    margin-top: 0.2rem;
}

#tri-column div {
    position: relative;
}

/* Text inside tri-column */
#tri-column div p {
    position: absolute;
    height: 0;
    top: 1rem;
    left: 1rem;
    font-size: 1.25rem;
    color: white;
    text-shadow: 0.1rem 0.1rem 0.1rem black, -0.01rem -0.01rem 0.1rem black;
    text-transform: uppercase;
}

#tri-column div img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.red-action {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100%;
    height: 2.5rem;
    background-color: red;
}

#tri-column a {
    text-decoration: none;
    color: white;
}

#co2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2em 0;
    color: white;
    background-image: url("https://eriksbikeshop.vtexassets.com/arquivos/footer.jpg");
    background-size: cover;
    background-position: bottom;
    background-color: #212121;
}

#co2 > h2 {
    font-size: 2rem;
    font-weight: 100;
}

#co2-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#miles-input {
    margin: 0.5rem;
    padding: 0.25rem;
    text-align: center;
}

#co2-button {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: red;
    color: white;
    border: 1px solid black;
    text-transform: uppercase;
}

#co2-outputs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;
}

#co2-title {
    margin: 0.5rem;
    font-size: 1.2rem;
}

#co2-outputs p, #co2-title {
    text-align: center;
}

.big-number {
    font-size: 2rem;
    height: 2rem;
}

.trip-time {
    height: 1rem;
}

.co2-label {
    font-size: 1rem;
}

@media only screen and (max-width: 780px) {
    main {
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }

    #logo-banner img {
        width: 8rem;
    }

    #slider-title {
        font-size: 1.5rem;
    }

    #slider-button {
        font-size: 0.8rem;
    }

    .slider-dot {
        width: 0.5rem;
        height: 0.5rem;
    }

    #countdown-output {
        font-size: 1.25rem;
    }

    #tri-column {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-top: 0;
    }

    #tri-column div img {
        height: 25vh;
        object-position: top;
    }

    #tri-column div p {
        text-align: center;
        left: 50%;
        top: auto;
        bottom: 3.5rem;
        transform: translate(-50%, -50%);
    }

    .red-action {
        display: none;
    }

    #co2-outputs {
        flex-direction: column;
        align-items: center;
    }

    #co2-outputs > div {
        margin-bottom: 2rem;
    }
}